{% extends '../base.html' %}
{% load bootstrap4 %}

{% load i18n %}

{% block content %}
    <title>{% translate 'Список статусов' %}</title>
    <h1 class="my-4">{% translate 'Статусы' %}</h1>
    <a class="text-decoration-none" href="{% url 'statuses:create' %}">{% translate 'Создать статус' %}</a>
    <table class="bg-white mt-1 border table table-striped">
        <tr>
            <th class="border p-2">ID</th>
            <th class="border p-2">{% translate 'Имя' %}</th>
            <th class="border p-2">{% translate 'Дата создания' %}</th>
            <th class="border p-2"></th>
        </tr>
        {% for status in statuses %}
        <tr>
            <td class="border p-2">{{ status.id }}</td>
            <td class="border p-2">{{ status.name }}</td>
            <td class="border p-2">{{ status.created_at|date:"d.m.Y H:i" }}</td>
            <td class="border p-2">
                <a class="text-decoration-none" href="{% url 'statuses:update_status' status.id %}">{% translate 'Изменить' %}</a><br>
                <a class="text-decoration-none" href="{% url 'statuses:delete_status' status.id %}">{% translate 'Удалить' %}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}