asgiref==3.8.1 ; python_version >= "3.11"
attrs==24.2.0 ; python_version >= "3.11"
autobahn==24.4.2 ; python_version >= "3.11"
automat==24.8.1 ; python_version >= "3.11"
beautifulsoup4==4.12.3 ; python_version >= "3.11"
certifi==2024.8.30 ; python_version >= "3.11"
cffi==1.17.1 ; platform_python_implementation != "PyPy" and python_version >= "3.11"
charset-normalizer==3.4.0 ; python_version >= "3.11"
constantly==23.10.4 ; python_version >= "3.11"
cryptography==43.0.1 ; python_version >= "3.11"
daphne==4.1.2 ; python_version >= "3.11"
dj-database-url==2.2.0 ; python_version >= "3.11"
django-bootstrap4==24.4 ; python_version >= "3.11"
django-filter==24.3 ; python_version >= "3.11"
django==5.1.2 ; python_version >= "3.11"
gunicorn==23.0.0 ; python_version >= "3.11"
h2==4.1.0 ; python_version >= "3.11"
hpack==4.0.0 ; python_version >= "3.11"
hyperframe==6.0.1 ; python_version >= "3.11"
hyperlink==21.0.0 ; python_version >= "3.11"
idna==3.10 ; python_version >= "3.11"
incremental==24.7.2 ; python_version >= "3.11"
packaging==24.1 ; python_version >= "3.11"
priority==1.3.0 ; python_version >= "3.11"
psycopg2-binary==2.9.9 ; python_version >= "3.11"
pyasn1-modules==0.4.1 ; python_version >= "3.11"
pyasn1==0.6.1 ; python_version >= "3.11"
pycparser==2.22 ; platform_python_implementation != "PyPy" and python_version >= "3.11"
pyopenssl==24.2.1 ; python_version >= "3.11"
pytelegrambotapi==4.23.0 ; python_version >= "3.11"
python-dotenv==1.0.1 ; python_version >= "3.11"
requests==2.32.3 ; python_version >= "3.11"
rollbar==1.0.0 ; python_version >= "3.11"
service-identity==24.1.0 ; python_version >= "3.11"
setuptools==75.1.0 ; python_version >= "3.11"
soupsieve==2.6 ; python_version >= "3.11"
sqlparse==0.5.1 ; python_version >= "3.11"
twisted[http2,tls]==24.7.0 ; python_version >= "3.11"
twisted[tls]==24.7.0 ; python_version >= "3.11"
txaio==23.1.1 ; python_version >= "3.11"
typing-extensions==4.12.2 ; python_version >= "3.11"
tzdata==2024.2 ; sys_platform == "win32" and python_version >= "3.11"
urllib3==2.2.3 ; python_version >= "3.11"
whitenoise==6.7.0 ; python_version >= "3.11"
zope-interface==7.1.0 ; python_version >= "3.11"
