{% extends '../base.html' %}
{% load i18n %}

{% translate 'Удаление метки' as title_label_delete %}

{% block content %}
    <title>{{ title_label_delete }}</title>
    <h1 class="my-4">{% translate 'Удаление метки' %}</h1>
    <p>{% translate 'Вы уверены, что хотите удалить метку'%} <i>{{ label.name }}</i>?</p>
    <form method="post" class="pb-4 pt-2">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="{% translate 'Да, удалить' %}">
    </form>
{% endblock %}