<li id="checklist-item-{{ item.id }}" class="list-group-item">
    <input type="checkbox"
           hx-post="{% url 'tasks:toggle' item.id %}"
           hx-target="#checklist-item-{{ item.id }}"
           hx-swap="outerHTML"
           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
           hx-trigger="change"
           {% if item.is_completed %} checked {% endif %}>
    <span id="item-status-{{ item.id }}">
        {{ item.description|linebreaks }}{% if item.is_completed %} (выполнено){% endif %}
    </span>
</li>