{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% translate 'Создание задачи' %}{% endblock %}

{% block content %}
    <title>{{ title_task_create }}</title>
    <h1 class="my-4">{% translate 'Создать задачу' %}</h1>

    <!-- Основная форма для создания задачи -->
    <form method="post" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="button">Создать</button>
    </form>

{% endblock %}
