{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% translate 'Список задач' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-1">
        <a class="btn btn-sm btn-outline-primary" href="{% url 'tasks:create' %}">
            Создать задачу
        </a>
    </div>
    <div class="stages-container col-10 d-flex justify-content-around">
        {% for stage in stages %}
        <div class="stage position-relative" data-stage-id="{{ stage.pk }}">
            <div class="drag-handle">
                <h5 class="border text-center ps-5 pe-5 pt-1 pb-1" onblur="updateStageName(this)" data-stage-pk="{{ stage.pk }}" contenteditable>{{ stage.name }}</h5>
            </div>
            <ul id="stage-{{ stage.pk }}" class="task-list list-group">
                {% for task in stage.tasks.all %}
                    <li class="list-group-item task border-1 rounded-3 mb-1 d-flex align-items-center" data-task-id="{{ task.pk }}" data-old-stage-id="{{ stage.pk }}">
                        <a class="text-decoration-none text-body" href="{% url 'tasks:view_task' task.slug %}">
                            <i class="bi bi-calendar-check"></i>
                            {{ task.name }}
                            <div class="small d-flex align-items-center">
                                <i class="bi bi-person-fill me-1"></i>
                                {{ task.executor }}
                            </div>
                        </a>

                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <div class="col-1">
        <a class="btn btn-sm btn-outline-primary mb-1"
           href="{% url 'tasks:create_stage' %}">Создать колонку</a>
    </div>
</div>

<script>
function updateStageName(element) {
    const stageId = element.getAttribute('data-stage-pk');
    const newName = element.innerText;

    fetch(`update-stage/${stageId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
        },
        body: JSON.stringify({ name: newName, stage_id: stageId }),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .catch(error => {
        console.error('Error updating stage:', error);
    });
}

// Функция для получения CSRF-токена
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const stagesContainer = document.querySelector('.stages-container');
    new Sortable(stagesContainer, {
        handle: '.drag-handle',
        animation: 150,
        onEnd: function(evt) {
            const itemEl = evt.item;
            const stageId = itemEl.getAttribute('data-stage-id');
            const newIndex = Array.prototype.indexOf.call(itemEl.parentElement.children, itemEl);
            fetch("{% url 'tasks:update_task_order' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    stage_id: stageId,
                    order: newIndex + 1
                })
            })
        }
    });
    document.querySelectorAll('.task-list').forEach(function(taskList) {
        new Sortable(taskList, {
            group: 'tasks',
            animation: 150,
            onEnd: function(evt) {
                const itemEl = evt.item;
                const newStageContainer = itemEl.closest('.stage');
                const newStageId = newStageContainer.getAttribute('data-stage-id');
                const oldStageId = itemEl.getAttribute('data-old-stage-id');
                itemEl.setAttribute('data-old-stage-id', newStageId);
                const newOrder = Array.prototype.indexOf.call(itemEl.parentNode.children, itemEl) + 1;

                fetch("{% url 'tasks:update_task_order' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        task_id: itemEl.getAttribute('data-task-id'),
                        old_stage_id: oldStageId,
                                new_stage_id: newStageId,
                        order: newOrder
                    })
                })
            }
        });
    });
});
</script>


{% endblock %}