{% extends '../base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% translate 'Список задач' %}{% endblock %}

{% block content %}
    <title>{% translate 'Список задач' %}</title>
    <h1 class="my-4">{% translate 'Задачи' %}</h1>
    <div class="card mb-3">
        <div class="card-body">
            <form method="get" class="form-inline justify-content-around">
                {% csrf_token %}
                {% bootstrap_form filter.form form_group_class='form-group' field_class='ml-2 mr-3' %}
                {% bootstrap_button button_filter_text button_type='submit' button_class='btn btn-outline-primary' %}
            </form>
        </div>
    </div>
    <a class="btn btn-outline-primary mb-1" href="{% url 'tasks:create' %}">{% translate 'Создать задачу' %}</a>
    <table class="mt-1 table table-striped table-desktop">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">{% translate 'Имя' %}</th>
            <th scope="col">{% translate 'Статус' %}</th>
            <th scope="col">{% translate 'Автор' %}</th>
            <th scope="col">{% translate 'Исполнитель' %}</th>
            <th scope="col">{% translate 'Дата создания' %}</th>
            <th scope="col">{% translate 'Крайний срок' %}</th>
            <th scope="col"></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td class="border-top-0">{{ task.id }}</td>
            <td class="border-top-0"><a class="text-decoration-none" href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
            <td class="border-top-0">{{ task.status }}</td>
            <td class="border-top-0">{{ task.author }}</td>
            <td class="border-top-0">{{ task.executor }}</td>
            <td class="border-top-0">{{ task.created_at|date:"d.m.Y H:i" }}</td>
            <td class="border-top-0
                       {% if task.deadline %}
                            {% if task.is_deadline_overdue %}text-danger{% endif %}
                        {% else %}text-success
                        {% endif %}">{% if task.deadline %}{{ task.deadline|date:"d.m.Y H:i" }}{% else %} Бессрочно{% endif %}</td>
            <td class="d-flex justify-content-around border-top-0">
                <a class="btn btn-outline-warning {% if task.state %}disabled{% endif %}"  href="{% url 'tasks:update_task' task.slug %}">{% translate 'Изменить' %}</a>
                {% if task.state %}
                    <form action="{% url 'tasks:close_task' task.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-success {% if task.state and task.author != user %}disabled{% endif %}">{% translate 'Переоткрыть' %}</button>
                    </form>
                {% else %}
                    <form action="{% url 'tasks:close_task' task.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary">{% translate 'Закрыть' %}</button>
                    </form>
                {% endif %}
                <a class="btn btn-outline-danger" href="{% url 'tasks:delete_task' task.slug %}">{% translate 'Удалить' %}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% for task in tasks %}
        <a class="text-decoration-none" href="{% url 'tasks:view_task' task.slug %}">
            <div class="card-mobile card mt-2">
                <div class="card-header">
                    <h6 class="mb-0">{{ task.name }}</h6>
                </div>
                <div class="card-body">
                    Описание: {{ task.description }}<br>
                    Статус: {{ task.status }}
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}