{% extends '../base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% translate 'Обновление задачи' %}{% endblock %}

{% block content %}
    <title>{{ title_task_update }}</title>
    <h1 class="my-4">{% translate 'Обновление задачи' %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_text_update button_type="submit" button_class="btn btn-primary"  %}
    </form>
{% endblock %}