{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ task.name }}{% endblock %}

{% block content %}
    <div class="card card-task">
        <div class="card-header">
            <h2 class="card-header-title is-size-4 has-text-weight-bold">
                <i class="fa fa-tasks"></i> {{ task.name }}
                {% if task.state == 'done' %}
                    <span class="tag is-success ml-2">Выполнена</span>
                {% elif task.deadline and task.deadline < now %}
                    <span class="tag is-danger ml-2">Просрочена</span>
                {% endif %}
            </h2>
            <p class="has-text-grey mt-2" title="{{ task.description }}">{{ task.description|truncatechars:100 }}</p>
        </div>
        <div class="card-content">
            <div class="columns is-mobile">
                <div class="column"><i class="fa fa-user"></i> {% translate 'Автор' %}</div>
                <div class="column">{{ task.author }}</div>
            </div>
            <div class="columns is-mobile">
                <div class="column"><i class="fa fa-user-check"></i> {% translate 'Исполнитель' %}</div>
                <div class="column">{{ task.executor }}</div>
            </div>
            <hr>
            <div class="columns is-mobile">
                <div class="column"><i class="fa fa-bell"></i> {% translate 'Напоминание до' %}</div>
                <div class="column">
                    {% if task.reminder_periods.all %}
                        {% for period in task.reminder_periods.all %} {{ period }}<br/> {% endfor %}
                    {% else %}
                        <span>Напоминания не установлены</span>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="columns is-mobile">
                <div class="column"><i class="fa fa-paperclip"></i> {% translate 'Приложенные файлы' %}</div>
                <div class="column">
                    {% if task.image %}
                        <img src="{{ task.image.url }}" alt="thumb" style="max-width: 60px; max-height: 40px; margin-right: 10px; vertical-align: middle;">
                        <a class="button is-small is-link is-light me-1" href="{% url 'tasks:download' task.slug %}" download>
                            <i class="fa fa-download"></i> Скачать изображение
                        </a>
                        <button id="preview-image-button" class="button is-small is-info is-light">
                            <i class="fa fa-image"></i> Просмотреть изображение
                        </button>
                        <div id="image-modal" class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-content has-text-centered">
                                <a id="link-image" href="" target="_blank">
                                    <img src="{{ task.image.url }}" width="350" height="300" id="preview-image" class="mt-1" src="" alt="Preview" />
                                </a>
                            </div>
                            <button class="modal-close is-large" aria-label="close"></button>
                        </div>
                    {% else %}
                        <span>Нет файлов</span>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="columns is-mobile">
                <div class="column"><i class="fa fa-calendar"></i> {% translate 'Дата' %}</div>
                <div class="column">{% if task.deadline %}{{ task.deadline|date:"d.m.Y H:i" }}{% else %} Бессрочно{% endif %}</div>
            </div>
            <hr>
            <div class="columns is-mobile">
                <div class="column"><i class="fa fa-tasks"></i> {% translate 'Чек-лист' %}</div>
                <div class="column">
                    {% if checklist_items %}
                        {% if total_checklist > 0 %}
                            <progress class="progress is-success" value="{{ progress_checklist }}" max="100">{{ progress_checklist }}%</progress>
                            <span>{{ done_checklist }} / {{ total_checklist }}</span>
                        {% endif %}
                        <ul class="list-group">
                            {% for item in checklist_items %}
                                {% include 'tasks/checklist_item.html' with item=item %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Чеклист пуст.</p>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="columns is-mobile">
                <div class="column"><i class="fa fa-calendar-plus"></i> {% translate 'Дата создания' %}</div>
                <div class="column">{{ task.created_at|date:'d.m.Y H:i' }}</div>
            </div>
            <hr>
            <div class="columns btn-card-task is-mobile">
                <a class="button is-link is-light column mr-1" href="{% url 'tasks:list' %}">
                    <i class="fa fa-list"></i> Список задач
                </a>
                <a class="button is-warning is-light column mr-1 {% if task.state %}disabled{% endif %}" href="{% url 'tasks:update' task.slug %}">
                    <i class="fa fa-edit"></i> Изменить
                </a>
                <a class="button is-danger is-light column" href="{% url 'tasks:delete_task' task.slug %}">
                    <i class="fa fa-trash"></i> Удалить
                </a>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            modalManager.attach(
                'preview-image-button',
                'image-modal',
                function() {
                    return "{{ task.image.url }}";
                }
            );
        });
    </script>

{% endblock %}
    
