{% extends '../base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{{ task.name }}{% endblock %}

{% block content %}
    <h1 class="my-4">{% translate 'Просмотр задачи' %}</h1>
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h2>{{ task.name }}</h2>
        </div>
        <div class="card-body">
            <p>{{ task.description }}</p>
            <hr>
            <div class="container">
                <div class="row p-1">
                    <div class="col">{% translate 'Автор' %}</div>
                    <div class="col">{{ task.author }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Исполнитель' %}</div>
                    <div class="col">{{ task.executor }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Статус' %}</div>
                    <div class="col">{{ task.status }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Напоминание до' %}</div>
                    <div class="col">
                        {% if task.reminder_periods.all %}
                            {% for period in task.reminder_periods.all %} {{ period }}<br/> {% endfor %}
                        {% else %}
                            <span>Напоминания не установлены</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Приложенные файлы' %}</div>
                    <div class="col">
                        {% if task.image %}
                            <a class="btn btn-sm btn-outline-primary me-1" href="{% url 'tasks:download' task.slug %}" download>Скачать изображение</a>
                            <button id="preview-image-button" class="btn btn-sm btn-outline-primary">Просмотреть изображение</button>
                            <div id="image-modal" style="display:none">
                                <a id="link-image" href="" target="_blank">
                                    <img width="350" height="300" id="preview-image" class="mt-1" src="" alt="Preview" />
                                </a>
                            </div>
                        {% else %}
                            <span>Нет файлов</span>
                        {% endif %}

                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Крайний срок' %}</div>
                    <div class="col">{% if task.deadline %}{{ task.deadline|date:"d.m.Y H:i" }}{% else %} Бессрочно{% endif %}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Чек-лист' %}</div>
                    <div class="col">
                        {% if checklist_items %}
                            <ul class="list-group">
                                {% for item in checklist_items %}
                                    {% include 'tasks/checklist_item.html' with item=item %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Чеклист пуст.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Дата создания' %}</div>
                    <div class="col">{{ task.created_at|date:'d.m.Y H:i' }}</div>
                </div>
                <div class="row p-1">
                    
                </div>
                <div class="d-flex justify-content-center p-2">
                    <a class="btn btn-outline-success btn-sm me-2 {% if task.state %}disabled{% endif %}" href="{% url 'tasks:list' %}">{% translate 'Список задач' %}</a><br>
                    <a class="btn btn-outline-warning btn-sm me-2 {% if task.state %}disabled{% endif %}" href="{% url 'tasks:update_task' task.slug %}">{% translate 'Изменить' %}</a><br>
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'tasks:delete_task' task.slug %}">{% translate 'Удалить' %}</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const previewButton = document.getElementById('preview-image-button');
            const modal = document.getElementById('image-modal');
            const image = document.getElementById('preview-image');
            const link_image = document.getElementById('link-image');

            // Обработчик нажатия на кнопку
            previewButton.addEventListener('click', function() {
                // Проверка, отображается ли модальное окно
                if (modal.style.display === 'block') {
                    // Скрыть модальное окно и сменить текст кнопки на "Посмотреть изображение"
                    modal.style.display = 'none';
                    previewButton.textContent = 'Просмотреть изображение';
                    image.src = "";
                    link_image.href = "";
                } else {
                    // Получаем URL изображения
                    let url = "/tasks{{ task.image.url }}";

                    // Устанавливаем источник изображения и ссылку
                    image.src = url;
                    link_image.href = url;

                    // Показываем модальное окно и сменяем текст кнопки на "Скрыть изображение"
                    modal.style.display = 'block';
                    previewButton.textContent = 'Скрыть изображение';
                }
            });

            // Закрытие модального окна при клике вне изображения
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                    previewButton.textContent = 'Просмотреть изображение';
                }
            };
        });
    </script>

{% endblock %}
