{% extends '../base.html' %}
{% load bootstrap4 %}

{% load i18n %}

{% block content %}
    <h1 class="my-4">{% translate 'Просмотр задачи' %}</h1>
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h2>{{ task.name }}</h2>
        </div>
        <div class="card-body bg-light">
            <p>{{ task.description }}</p>
            <hr>
            <div class="container">
                <div class="row p-1">
                    <div class="col">{% translate 'Автор' %}</div>
                    <div class="col">{{ task.author }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Исполнитель' %}</div>
                    <div class="col">{{ task.executor }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Статус' %}</div>
                    <div class="col">{{ task.status }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Напоминание до' %}</div>
                    <div class="col">
                        {% if task.reminder_periods.all %}
                            {% for period in task.reminder_periods.all %} {{ period }}<br/> {% endfor %}
                        {% else %}
                            <span>Напоминения не установлены</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Приложенные файлы' %}</div>
                    <div class="col">
                        {% if task.files %}
                            <a href="{% url 'tasks:download' task.pk %}" download>Скачать файл</a>
                        {% else %}
                            <span>Нет файлов</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Крайний срок' %}</div>
                    <div class="col">{% if task.deadline %}{{ task.deadline|date:"d.m.Y H:i" }}{% else %} Бессрочно{% endif %}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Чек-лист' %}</div>
                    <div class="col">
                        {% if checklist_items %}
                            <ul class="list-group">
                                {% for item in checklist_items %}
                                    {% include 'tasks/checklist_item.html' with item=item %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Чеклист пуст.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Дата создания' %}</div>
                    <div class="col">{{ task.created_at|date:'d.m.Y H:i' }}</div>
                </div>
                <div class="row p-1">
                    
                </div>
                <div class="d-flex justify-content-center p-2">
                    <a class="btn btn-outline-success btn-sm me-2 {% if task.state %}disabled{% endif %}" href="{% url 'tasks:list' %}">{% translate 'Список задач' %}</a><br>
                    <a class="btn btn-outline-warning btn-sm me-2 {% if task.state %}disabled{% endif %}" href="{% url 'tasks:update_task' task.id %}">{% translate 'Изменить' %}</a><br>
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'tasks:delete_task' task.id %}">{% translate 'Удалить' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
