{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="columns is-mobile">
            <div class="column">
                <h1 class="title is-size-4-mobile">{% translate 'Страница входа в ваш аккаунт' %}</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="button is-centered">Войти</button>
                </form>
            </div>
            <!-- /.column -->
        </div>
        <!-- /.columns -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->
{% endblock %}