{{ '<' }}{{'!doctype html>'}}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}


{% translate 'Создать' as button_text_create %}
{% translate 'Изменить' as button_text_update %}

{% translate 'Создание статуса' as title_statuses_create %}
{% translate 'Изменение статуса' as title_statuses_update %}


{% translate 'Создание метки' as title_label_create %}
{% translate 'Изменение метки' as title_label_update %}

{% translate 'Список пользователей' as users_list %}
{% translate 'Зарегистрировать' as button_text_user_create %}
{% translate 'Войти' as button_text_user_signin %}

{% translate 'Показать' as button_filter_text %}
{% translate 'Создание задачи' as title_task_create %}
{% translate 'Обновление задачи' as title_task_update %}

<html lang="ru" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a href="/" class="navbar-brand mr-md-3">{%  translate 'Менеджер задач' %}</a>
        <div id="navbarToggleExternalContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            {% if not user.is_authenticated %}
                <li>
                    <a class="nav-link" href="{% url 'users:list' %}" class="nav-link p-2 text-dark my-0 mr-md-auto">{% translate 'Пользователи' %}</a>
                </li>
            {% else %}
                <li>
                    <a class="nav-link" href="{% url 'users:list' %}" class="nav-link p-2 text-dark my-0 mr-md-auto">{% translate 'Пользователи' %}</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'statuses:list' %}" class="nav-link p-2 text-dark my-0 mr-md-auto">{% translate 'Статусы' %}</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'labels:list' %}" class="nav-link p-2 text-dark my-0 mr-md-auto">{% translate 'Метки' %}</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'tasks:list' %}" class="nav-link p-2 text-dark my-0 mr-md-auto">{% translate 'Задачи' %}</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if not user.is_authenticated %}
                <li><a class="nav-link" href="{% url 'login' %}" class="nav-link p-2 text-dark">{% translate 'Вход' %}</a></li>
                <li><a class="nav-link" href="{% url 'users:create' %}" class="nav-link p-2 text-dark">{% translate 'Регистрация' %}</a></li>
            {% else %}
                <form action="/logout/" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn nav-link" value="{% translate 'Выход' %}">
                </form>
            {% endif %}
        </ul>
        </div>
    </nav>
    <div class="container wrapper flex-grow-1 mt-5">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <div class="container my-5 pt-4 border-top">
            <a class="text-decoration-none" target="_blank" href="https://task.pavlovteam.ru">Task Manager</a>
        </div>
    </footer>
  </body>
</html>
