{% load i18n %}
{% load static %}

<nav class="navbar nav-height is-primary">
    <div class="container is-fluid">
        <div class="navbar-brand mt-0 is-block">
            <a href="/" class="navbar-item title mb-2">
                {% translate 'Менеджер задач'%}
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu is-block">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                            <form class="mt-1" id="theme-switch-form">
                                {% csrf_token %}
                                <button type="submit" class="btn me-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance" viewBox="0 0 16 16">
                                        <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
                                    </svg>
                                </button>
                            </form>
                            <div class="navbar-item">
                                <a href="{% url 'users:profile' %}" class="button has-background-primary is-outlined">{{ user.username }}</a>
                            </div>
                            <form action="/logout/" method="post">
                                {% csrf_token %}
                                <input type="submit" class="me-md-5 button has-background-danger is-outlined"
                                    value="{% translate 'Выйти' %}">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('theme-switch-form');

        form.addEventListener('submit', (event) => {
            event.preventDefault();

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch("{% url 'users:switch_theme_mode' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({}),
            })
            .then(response => response.json())
            .then(data => {
                document.body.setAttribute('data-theme', data.theme_mode);
            })
            .catch(error => {
                console.error('Ошибка при переключении темы:', error);
            });
        });
    });
</script>