{% load i18n %}
{% load static %}

<nav class="navbar navbar-expand-lg mb-3 border-1 border-bottom">
    <div class="container-fluid">
        <a href="/" class="navbar-brand ms-md-3">
            {% translate 'Менеджер задач'%}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarToggleExternalContent" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto d-flex align-items-center">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'tasks:list' %}"
                       class="nav-link my-0 mr-md-auto">
                        <i class="bi bi-list-task"></i>
                        {% translate 'Задачи' %}
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav d-flex align-items-center">
                {% if user.is_authenticated %}
                <form action="{% url 'users:switch_theme_mode' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn pt-1 me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
                        </svg>
                    </button>
                </form>
                <li class="nav-item">

                    <a class="btn d-flex align-items-center" href="{% url 'users:profile' %}">
                        <i class="bi bi-person-circle me-1"></i>
                        {{ user.username }}
                    </a>
                </li>
                <li class="nav-item">
                    <form class="d-flex align-items-center" action="/logout/" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn nav-link"
                            value="{% translate 'Выход' %}">
                        <i class="bi bi-box-arrow-right me-md-5"></i>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>