{% extends '../base.html' %}
{% load bootstrap4 %}

{% load i18n %}

{% block content %}
    <h1 class="my-4">{% translate 'Просмотр задачи' %}</h1>
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h2>{{ task.name }}</h2>
        </div>
        <div class="card-body bg-light">
            <p>{{ task.description }}</p>
            <hr>
            <div class="container">
                <div class="row p-1">
                    <div class="col">{% translate 'Автор' %}</div>
                    <div class="col">{{ task.author }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Исполнитель' %}</div>
                    <div class="col">{{ task.executor }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Статус' %}</div>
                    <div class="col">{{ task.status }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Крайний срок' %}</div>
                    <div class="col">{% if task.deadline %}{{ task.deadline|date:"d.m.Y H:i" }}{% else %} Бессрочно{% endif %}</div>
                </div>
                <div class="row p-1">
                    <div class="col">{% translate 'Дата создания' %}</div>
                    <div class="col">{{ task.created_at|date:'d.m.Y H:i' }}</div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        {% translate 'Метки' %}
                        <ul>
                            {% for label in labels %}
                                <li>{{ label.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="d-flex justify-content-center p-2">
                    <a class="btn btn-outline-warning me-2" href="{% url 'tasks:update_task' task.id %}">{% translate 'Изменить' %}</a><br>
                    <a class="btn btn-outline-danger" href="{% url 'tasks:delete_task' task.id %}">{% translate 'Удалить' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}