.card-mobile {
    display: none !important;
}

.remove-stage {
    margin-top: .1rem;
    margin-right: .1rem;
}

@media only screen and (max-width: 1400px) {
    .card-mobile {
        display: flex !important;
    }
    .table-desktop {
        display: none;
    }
}